
DSDT/.DS_Store
DSDT/DSDT and SSDT/.DS_Store
DSDT/DSDT and SSDT/Clover F4 - original/.DS_Store
DSDT/DSDT and SSDT/Patched/.DS_Store
DSDT/OC/.DS_Store
DSDT/OC/ACPI/.DS_Store
DSDT/OC/Drivers/.DS_Store
DSDT/OC/Kexts/.DS_Store
DSDT/OC/Resources/.DS_Store
01 boot w:aio SSDT/.DS_Store
01 boot w:aio SSDT/.DS_Store
.DS_Store
